.container {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
}

.notch-wrapper {
  margin: 5px 0;
  text-align: center;

  .notch {
    background-color: #eee;
    border-radius: 100px;
    width: 120px;
    min-height: 8px;
    display: inline-block;
    cursor: pointer;
  }
}

.image-wrapper {
  background-color: #ddd;
  margin: 15px 0 5px;
  min-height: 140px;
  max-height: 140px;

  i {
    color: white;
    font-size: 32px;
  }
}

form {
  padding: 0 25px 25px;

  label {
    color: var(--brand);
    font-size: 14px;
    font-weight: 500;
  }

  input {
    border-bottom: 1px solid #ddd;
    padding: 0 5px 5px;
    width: 100%;
    display: block;

    &:focus {
      border-color: var(--accent);
    }
  }
}

.form-group {
  margin: 10px 0 0;
}