  a[href],
  button {
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 20px;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;

    &.primary {
      background-color: var(--bg_gradient);
      color: #fff;
    }

    &.secondary {
      background-color: #fff;
      color: var(--brand);
    }
  }