a[href],
button {
  background: var(--bg_gradient);
  color: #fff;
  border: 2px solid var(--brand);
  border-radius: 40px;
  padding: 12px;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;


  &.solid_ {
    background: #fff;
    color: var(--brand);
    border-color: #eee;

    &:hover {
      background: #eee;
    }
  }

  &.outline_ {
    border-color: white;

    &:hover {
      background: var(--brand);
    }
  }

  &.danger {
    background: #e11;
    border: 2px solid #c11;
  }
}

button {
  cursor: default;
}