.container {
  padding: 40px 20px;
}

.wrapper {
  background-color: #fff;
  border-radius: 12px;
}

h1 {
  padding: 20px 25px 15px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

form {
  padding: 0 30px 30px;

  label {
    color: var(--brand);
    font-size: 14px;
    font-weight: 500;

    var {
      color: #e11;
      margin-left: 2px;
      vertical-align: middle;
    }
  }

  input,
  select,
  textarea {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    width: 100%;
    display: block;

    &:focus {
      border-color: var(--accent);
    }
  }
}

.form-group {
  margin: 20px 0 0;
}

.input-group {
  position: relative;

  i {
    color: #999;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}