main {
  padding: 0 30px;
  text-align: center;

  h1 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  a {
    color: var(--brand);
  }

  p {
    color: #333;
    font-weight: 500;
  }
}