figure {
  margin-top: 30px;

  img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }

  i {
    background-color: #fff;
    color: #0093dd;
    border-radius: 100%;
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 5px;
  }

  figcaption {
    h1 {
      margin-top: 10px;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 500;
    }

    p {
      margin-top: -2px;
      color: #777;
      text-align: center;
      // font-size: 15px;
    }
  }
}

