form {
  margin: 20px 20px 0;

  input {
    background-color: #eee;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 42px;
    width: 100%;
    font-size: 15px;
    /* font-weight: 500; */

    &:focus {
      border-color: var(--brand_blue);
    }
  }

  i {
    color: #999;
    position: absolute;
    top: 14px;
  }

  i#left {
    font-size: 15px;
    left: 16px;
  }

  i#right {
    font-size: 16px;
    right: 12px;
  }
}