section {
  padding: 0 25px 0 30px;

  ul {
    li {
      margin: 12px 0;

      i {
        color: #555;
      }

      b {
        color: var(--brand);
        font-size: 14px;
        font-weight: 500;
      }

      p {
        color: #444;

        a {
          margin-left: 5px;
          color: blue;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}