header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 18px;
  min-height: 60px;
  max-height: 60px;
  position: fixed;
  z-index: 7;

  i {
    /* background-color: red; */
    margin-top: 5px; 
    font-size: 18px;
    position: relative;
  }
}

figure {
  /* background-color: red; */

  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  figcaption {
    margin-left: 12px;

    small {
      color: #888;
      font-size: 14px;
    }

    b {
      margin-top: -5px;
      font-size: 16px;
      display: block;
    }
  }
}