hgroup {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }
}

footer {
  /* background-color: red; */
  width: 100%;
  position: absolute;
  bottom: 40px;

  button {
    background-color: transparent;
    color: #fff;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 20px;
    padding: 12px 20px;
    width: 80%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;

    &.primary {
      background-color: #fff;
      color: purple;
    }
  }
}