form {
  padding: 0 25px 25px;

  label {
    color: var(--brand);
    font-size: 14px;
    font-weight: 500;

    var {
      color: #e11;
      margin-left: 2px;
      vertical-align: middle;
    }
  }

  input,
  select,
  textarea {
    // background-color: #ffc;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    width: 100%;
    display: block;

    &:focus {
      border-color: var(--accent);
    }
  }
}

.form-group {
  margin: 20px 0 0;

  a {
    color: #e11;
    padding: 2px;
    font-size: 14px;
    // font-style: italic;
    vertical-align: middle;
  }
}

.input-group {
  position: relative;


  i {
    color: #999;
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}