.container {
  margin-top: 40px;
  padding: 40px 20px;
}

.wrapper {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 22px 15px;
}

i {
  color: var(--brand);
  padding: 4px 12px 0 0;
  font-size: 22px;
  line-height: 0;
}

p {
  /* color: #333; */
  /* line-height: 20px; */

  b {
    font-weight: 500;
  }
}

button {
  color: var(--brand);
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
}