section {
  padding: 20px 20px 0;

  h1 {
    // color: #444;
    font-size: 18px;
    font-weight: 500;
  }

  a {
    color: var(--brand_blue);
    color: var(--brand);
    font-size: 14px;
    font-weight: 500;
  }

  i {
    color: var(--brand);
    // font-size: 14px;
    // font-weight: 500;
  }
}