@import "tailwindcss/base";
@import "@/styles/__base.css";

@import "tailwindcss/components";
@import "@/styles/__components.css";

@import "tailwindcss/utilities";
@import "@/styles/__utilities.css";
@import "@/styles/flexbox.css";
@import "@/styles/object-fit.css";

:root {
  --brand: #7a296c;
  --accent: #297937;
  --brand_gold: #d2af6d;
  --brand_blue: #3a418f;
  --bg_gradient: linear-gradient(to right, #7a296c, #6e2561);
}