header {
  padding: 30px;
  padding-bottom: 40px;

  h1 {
    font-size:32px;
    font-weight: 600;
    line-height: 40px;
  }
}

main {
  background-color: #fff;
  color: #444;
  border-radius: 30px 30px 0 0;
}

form {
  padding: 30px;

  label {
    color: var(--brand);
    font-size: 14px;
    font-weight: 600;
  }

  input {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    width: 100%;
    display: block;

    &:focus {
      border-color: var(--accent);
    }
  }
}

.form-group {
  margin: 20px 0 0;

  a {
    color: var(--brand_blue);
    // color: var(--accent);
    margin: 10px 0;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    display: flex;
    justify-content: end;
  }
}

.input-group {
  position: relative;

  i {
    color: #999;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}


.button-group {
  button {
    background-image: var(--bg_gradient);
    color: #fff;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 20px;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;

    &.primary {
      background-color: #fff;
      color: var(--brand);
    }
  }
}


footer {
  text-align: center;
  font-size: 15px;

  a {
    color: var(--brand_blue);
    // color: var(--accent);
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}