figure {
  img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
  }

  ul {
    position: absolute;
    bottom: 15px;

    li {
      background-color: #fff;
      border-radius: 100%;
      width: 10px;
      height: 10px;

      &:first-child,
      &:last-child {
        opacity: 60%;
      }
    }
  }

  figcaption {
  padding: 15px 20px;

    h1 {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 500;
      line-height: 0;

      i {
        margin-top: 4px;
        color: var(--brand);
        font-size: 18px;
      }
    }
  }
}